body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:946px;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:946px;
}
#u9960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:139px;
  width:375px;
  height:667px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:139px;
  width:375px;
  height:20px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:11px;
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:144px;
  width:104px;
  height:11px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:287px;
  width:346px;
  height:1px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:208px;
  width:361px;
  height:28px;
}
#u9967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:357px;
  word-wrap:break-word;
}
#u9968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9968 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:211px;
  width:20px;
  height:20px;
}
#u9968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9969 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:246px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:175px;
}
#u9970 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:287px;
  width:171px;
  height:175px;
}
#u9970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:175px;
}
#u9971 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:287px;
  width:171px;
  height:175px;
}
#u9971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:175px;
}
#u9972 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:533px;
  width:171px;
  height:175px;
}
#u9972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:175px;
}
#u9973 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:533px;
  width:171px;
  height:175px;
}
#u9973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9974 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:468px;
  width:49px;
  height:16px;
  font-size:12px;
}
#u9974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9976_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9976 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:484px;
  width:14px;
  height:14px;
}
#u9976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9977_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9977 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:490px;
  width:14px;
  height:14px;
}
#u9977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9978_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9978 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:490px;
  width:14px;
  height:14px;
}
#u9978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u9979 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:488px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u9979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u9980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9980 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:468px;
  width:61px;
  height:16px;
  font-size:12px;
}
#u9980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u9982 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:488px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u9982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9983_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9983 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:484px;
  width:14px;
  height:14px;
}
#u9983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9984 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:490px;
  width:14px;
  height:14px;
}
#u9984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9985 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:490px;
  width:14px;
  height:14px;
}
#u9985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9986 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:711px;
  width:49px;
  height:16px;
  font-size:12px;
}
#u9986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9988_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9988 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:727px;
  width:14px;
  height:14px;
}
#u9988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9989_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9989 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:733px;
  width:14px;
  height:14px;
}
#u9989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9990_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9990 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:733px;
  width:14px;
  height:14px;
}
#u9990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u9991 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:731px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u9991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9992 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:711px;
  width:73px;
  height:16px;
  font-size:12px;
}
#u9992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9994_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9994 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:727px;
  width:14px;
  height:14px;
}
#u9994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9995_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9995 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:733px;
  width:14px;
  height:14px;
}
#u9995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:34px;
}
#u9996 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:733px;
  width:14px;
  height:14px;
}
#u9996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u9997 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:731px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u9997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9999 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:757px;
  width:375px;
  height:49px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
}
#u9999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
}
#u10000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10000 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:769px;
  width:41px;
  height:28px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10000_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10000.selected {
}
#u10000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10001 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:769px;
  width:41px;
  height:28px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10001_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10001.selected {
}
#u10001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10002 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:769px;
  width:61px;
  height:28px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10002_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10002.selected {
}
#u10002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10003 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:770px;
  width:41px;
  height:26px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10003_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10003.selected {
}
#u10003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10005 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:159px;
  width:375px;
  height:44px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u10005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u10006 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:169px;
  width:13px;
  height:22px;
}
#u10006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u10007 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:169px;
  width:23px;
  height:25px;
}
#u10007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
}
#u10009 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:441px;
  width:354px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u10009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10010 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:468px;
  width:335px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
